<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-diegolarte/blob/main/Notes_IBM_Python_for_Data_Science_A01792048.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ACTIVIDAD MODULO 4
#NOMBRE: DIEGO ALBERTO OLARTE MIRA
#MATRICULA: A01792048

##Module 4 - Working with Data in Python

###Reading Files with Open

- Open function is ued to get a file object
- The first parameter of the function open is the file path
- the second parameter is the mode (r for reading, w for writing , a for appending)
- Using with statement to open file is better practice because it automatically closes the file

<h3>Read Example</h3>

In [5]:
input_path = "example1.txt"
read_file = open(input_path, "r")
print(read_file.name)

example1.txt

<h3>Read file and assign to variable</h3>

In [6]:
content = read_file.read()
print(content)

This is line 1
This is line 2
This is line 3

<h3>Open file using <code>with</code> statement</h3>

In [9]:
with open(input_path, "r") as file1:
    open_content = file1.read()
    print(open_content)

This is line 1
This is line 2
This is line 3

<h3>use a loop to iterate through each line</h3>

In [ ]:
with open(input_path, "r") as file1:
    open_content = file1.read()
    print(open_content)

This is line 1
This is line 2
This is line 3

<h3>Read all lines and save as a list</h3>

In [10]:
with open(input_path, "r") as file1:
    FileasList = file1.readlines()

In [11]:
print(FileasList[0])
print(FileasList[1])
print(FileasList[2])

This is line 1

This is line 2

This is line 3

###Writing Files with Open

<h3>Write line to a file</h3>

In [14]:
write_file = 'example_write.txt'
with open(write_file,'w') as writefile:
    writefile.write("This is line A")

with open(write_file, 'r') as testwritefile:
    print(testwritefile.read())

This is line A

<h3>Write a list to a file</h3>  
the mode w overwrites all the existing data in the file

In [15]:
Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
with open('example_write.txt', 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

This is line A

This is line B

This is line C

###Loading Data with Pandas

- pandas is a library for data analysis
- pandas allows to work with data as a data frame

<h3>Read a csv file and show the first elements</h3>

In [17]:
import pandas as pd
df = pd.read_csv("TopSellingAlbums.csv")
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

<h3>Access to a specific column</h3>

In [20]:
col_length = df[['Length']]
col_length

    Length
0  0:42:19
1  0:42:11
2  0:42:49
3  0:57:44
4  0:46:33
5  0:43:08
6  1:15:54
7  0:40:01

<h3>Access to multiple columns</h3>

In [21]:
y = df[['Artist','Length','Genre']]
y

            Artist   Length                        Genre
0  Michael Jackson  0:42:19               pop, rock, R&B
1            AC/DC  0:42:11                    hard rock
2       Pink Floyd  0:42:49             progressive rock
3  Whitney Houston  0:57:44               R&B, soul, pop
4        Meat Loaf  0:46:33  hard rock, progressive rock
5           Eagles  0:43:08   rock, soft rock, folk rock
6         Bee Gees  1:15:54                        disco
7    Fleetwood Mac  0:40:01                    soft rock

<h3>Use iloc to Access to specific value</h3>

In [22]:
# Access the value on the second row and the third column
df.iloc[1,2]

1980

<h3>Use loc to Access to specific value</h3>

In [23]:
# Access the column using the name

df.loc[1, 'Released']

1980