<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-diegolarte/blob/main/Notes_IBM_Python_for_Data_Science_A01792048.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ACTIVIDAD MODULO 1
#NOMBRE: DIEGO ALBERTO OLARTE MIRA
#MATRICULA: A01792048

##Module 1 - Python Basics

###Your First Program

<h3>Hello World</h3>

In [1]:
print("Hello World")

Hello World

<h3>Say "Hello World" on Two Lines</h3>

In [4]:
print("Hello\nWorld!")

Hello
World!

<h3>Comments Are Key to Good Coding</h3>

In [3]:
# this is a comment

<h3> Question 1 </h3>

<h4>Using the Practice Lab, find the result of executing print("Hello\nWorld!") statement.</h4>

In [5]:
print("Hello\nWorld!")

Hello
World!

<h3> Question 2 </h3>

<h4>What is the output of executing the following statement: # print('Hello World!')?</h4>

In [6]:
# print('Hello World!')

### Types ###

<h3>Hello World</h3>

In [1]:
"Hello World"
type("Hello World")

str

<h3>Type Casting</h3>

In [2]:
"1.1"
type("1.1")

str

<h3>Is a Number Always a Number?</h3>

In [3]:
"1"
bool(int("1"))

True

<h3> Question 1 </h3>

<h4>What is the type of the following: int(1.0)?</h4>

In [7]:
type(int(1.0))

int

<h3> Question 2 </h3>

<h4>Enter the code to convert the number 1 to a Boolean.</h4>

In [10]:
bool(1)

True

### Strings ###

<h3> Slicing </h3>

In [4]:
Letters="ABCDEFGHIJK"
Letters[0:4]

'ABCD'

<h3> Strides </h3>

In [5]:
Good="GsoAo+d"
Good[::2]

'Good'

In [6]:
Numbers = "0123456"
Numbers[::2]

'0246'

<h3> Converting to UPPERCASE </h3>

In [7]:
"uppercase"
"uppercase".upper()

'UPPERCASE'

<h3> Question 1 </h3>

<h4>Consider the following string:
Numbers = "0123456"

How would you obtain the even elements?</h4>

In [10]:
Numbers = "0123456"
Numbers[::2]

'0246'

<h3> Question 2 </h3>

<h4>What is the result of the following line of code:</h4>

In [11]:
"0123456".find('1')

1

### Review ###

<h4>What is the result of the following operation in Python: </h4>

In [12]:
3 + 2 * 2

7

<h4>In Python, if you executed name = 'Lizz', what would be the output of print(name[0:2])</h4>

In [14]:
name = 'Lizz'
print(name[0:2])

Li

In Python, if you executed var = '01234567', what would be the result of print(var[::2])

In [17]:
 var = '01234567'
print(var[::2])

0246

<h4>In Python, what is the result of the following operation '1'+'2'</h4>

In [18]:
'1'+'2'

'12'

<h4>Given myvar = 'hello', how would you convert myvar into uppercase?</h4>

In [20]:
myvar = 'hello'
myvar.upper()

'HELLO'

##Module 2 - Python Data Structures

###Lists and Tuples

<h3>Create a Tuple</h3>

In [21]:
A = (0,1,2,3)
print(A)

(0, 1, 2, 3)

<h3>Find the Elements of a Tuple</h3>

In [22]:
A[:2]

(0, 1)

<h3>Lists </h3>

In [24]:
B=["a","b","c"]
B

['a', 'b', 'c']

<h3>Find the first two elements of the list  B:</h3>

In [25]:
B[:2]

['a', 'b']

<h3>Change the first element of the list to an uppercase "A"</h3>

In [26]:
B[0] = "A"
print(B)

['A', 'b', 'c']

<h3> How do you access the last element of the following tuple: A=(0,1,2,3)</h3>

In [29]:
A=(0,1,2,3)
print(A[3])
print(A[-1])

3
3

<h3>Consider the list: B=["a","b","c"].

What is the result of the following B[1:] </h3>

In [31]:
B=["a","b","c"]
B[1:]

['b', 'c']

###SETS

<h3>Cast a List to a Set </h3>

In [32]:
['A','B','C','A','B','C']
set(['A','B','C','A','B','C'])

{'A', 'B', 'C'}

<h3>Add an Element to the Set </h3>

In [34]:
S={'A','B','C'}
S.add('D')

<h3>Intersection of Sets </h3>

In [35]:
A={1,2,3,4,5}
B={1,3,9, 12}

In [36]:
A & B

{1, 3}

In [37]:
A.intersection(B)

{1, 3}

<h3> Union </h3>

In [39]:
S={'A','B','C'}

U={'A','Z','C'}

U.union(S)

{'A', 'B', 'C', 'Z'}

###Dictionaries

### Review ###

<h4>What is the syntax used to obtain the first element of the tuple: </h4>

In [49]:
A = ('a','b','c')
A[0]

'a'

<h4>The method append will add element to the list
</h4>

<h4>Sets can not contain duplicate elements</h4>

<h4>Lists are mutable and tuples are not mutable</h4>

##Module 3 - Python Programming *Fundamentals*

### Conditions and Branching

<h3>Comparison Operations </h3>

In [52]:
i=1
i!=0

True

<h3>Branching </h3>

In [55]:
x = 'a'
if(x=='a'):
    print("this is a")
else:
    print("this is  not a")

this is a

<h3>Logic Operators</h3>

In [56]:
y=9
x=1
x>0 and y<10

True

<h3> Select the values of i that produces a True for the following:

i!=0 </h3>

In [57]:
i=1
i!=0

True

In [58]:
i=-1
i!=0

True

In [59]:
i=100000000
i!=0

True

<h3> What is the output of the following: </h3>

In [61]:
x='a'

if(x!='a'):

  print("This is not a.")

else:

  print("This is a.")

This is a.

### Loops

<h3>For Loops </h3>

In [62]:
A=[3,4,5]

for item in A:
  print(item)

3
4
5

<h3>While Loops</h3>

In [63]:
x=11
y=1
while(y != x):
    print(y)
    y=y+1

1
2
3
4
5
6
7
8
9
10

###Functions

<h3>Function</h3>

In [64]:
def f(a,b):
    
    return a*b

In [65]:
a=4
b=2

if a*b==f(a,b):   
    print("Correct.")   
else:    
    print("Incorrect.")

Correct.

<h3> Complete the function g such that the input c is a list of integers and the output is the sum of all the elements in the list.</h3>

In [66]:
def g(c):
    
    return sum(c)

In [67]:
c=[1,2,3,4,5]

if sum(c)==g(c):   
    print("Correct.")   
else:    
    print("Incorrect.")

Correct.

<h3> What is the output of the following: </h3>

In [ ]:
x='a'

if(x!='a'):

  print("This is not a.")

else:

  print("This is a.")

This is a.

<h3> What is the output of the following: </h3>

In [68]:
a=1

def add(b):

  return a+b

c=add(10)

In [69]:
c

11

###Object and Classes

<h3>Create a Class </h3>

In [75]:
class Car(object):
    def __init__(self,make,model,color):
        self.make=make;
        self.model=model;
        self.color=color;
        self.owner_number=0 
    def car_info(self):
        print("make: ",self.make)
        print("model:", self.model)
        print("color:",self.color)
        print("number of owners:",self.owner_number)
    def sell(self):
        self.owner_number=self.owner_number+1

<h3> Create a Car Object </h3>

In [78]:
make="BMW"
model="M3"
color="red"
my_car = Car(make,model,color)

<h3>Data Attributes</h3>

In [79]:
my_car.car_info()

make:  BMW
model: M3
color: red
number of owners: 0

<h3> Methods</h3>

In [81]:
for i in range(5):
    my_car.sell()
    my_car.car_info()

make:  BMW
model: M3
color: red
number of owners: 2
make:  BMW
model: M3
color: red
number of owners: 3
make:  BMW
model: M3
color: red
number of owners: 4
make:  BMW
model: M3
color: red
number of owners: 5
make:  BMW
model: M3
color: red
number of owners: 6

###Exception Handling

<h3> Try Except Example </h3>

In [84]:
a = 1

try:
    b = int(input("Please enter a number to divide a"))
    a = a/b
    print("Success a=",a)
except:
    print("There was an error")

Please enter a number to divide a0
There was an error

<h3>Try Except Specific Example</h3>

In [85]:
a = 1

try:
    b = int(input("Please enter a number to divide a"))
    a = a/b
    print("Success a=",a)
except ZeroDivisionError:
    print("The number you provided cant divide 1 because it is 0")
except ValueError:
    print("You did not provide a number")
except:
    print("Something went wrong")

Please enter a number to divide ad
You did not provide a number

In [86]:
a = 1

try:
    b = int(input("Please enter a number to divide a"))
    a = a/b
    print("Success a=",a)
except ZeroDivisionError:
    print("The number you provided cant divide 1 because it is 0")
except ValueError:
    print("You did not provide a number")
except:
    print("Something went wrong")

Please enter a number to divide a0
The number you provided cant divide 1 because it is 0

<h3>Try Except Else and Finally Example</h3>

In [87]:
a = 1

try:
    b = int(input("Please enter a number to divide a"))
    a = a/b
except ZeroDivisionError:
    print("The number you provided cant divide 1 because it is 0")
except ValueError:
    print("You did not provide a number")
except:
    print("Something went wrong")
else:
    print("success a=",a)
finally:
    print("Processing Complete")

Please enter a number to divide aa
You did not provide a number
Processing Complete

In [88]:
a = 1

try:
    b = int(input("Please enter a number to divide a"))
    a = a/b
except ZeroDivisionError:
    print("The number you provided cant divide 1 because it is 0")
except ValueError:
    print("You did not provide a number")
except:
    print("Something went wrong")
else:
    print("success a=",a)
finally:
    print("Processing Complete")

Please enter a number to divide a0
The number you provided cant divide 1 because it is 0
Processing Complete

In [89]:
a = 1

try:
    b = int(input("Please enter a number to divide a"))
    a = a/b
except ZeroDivisionError:
    print("The number you provided cant divide 1 because it is 0")
except ValueError:
    print("You did not provide a number")
except:
    print("Something went wrong")
else:
    print("success a=",a)
finally:
    print("Processing Complete")

Please enter a number to divide a2
success a= 0.5
Processing Complete